.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 150px;
  height: 54px;
  font-size: 14px;
  line-height: 54px;
  background-color: var(--light-bcg-color);
  border: none;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(60%);
}
