.h2 {
  display: block;
  margin-left: 170px;
  margin-bottom: 28px;
  width: 360px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--light-bcg-color);
}

.p {
  width: 532px;
  height: 216px;
  padding-top: 16px;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 56px;
  font-size: 14px;
  text-align: center;
  background-color: var(--light-bcg-color);
}
