.h2 {
  display: block;
  margin-top: 22px;
  margin-left: 28px;
  margin-bottom: 32px;
  width: 602px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--light-bcg-color);
}

.p {
  margin-top: 46px;
  margin-left: 28px;
  width: 602px;
  height: 138px;
  text-align: center;
  line-height: 138px;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--light-bcg-color);
}

.fild {
  display: flex;
}

/* .aside {
  margin-left: 31px;
  width: 235px;
  height: 660px;
  background-color: var(--light-bcg-color);
} */

.ul {
  display: flex;
  margin-left: 28px;
  justify-content: space-around;
}

.li {
  width: 190px;
  height: 178px;
  /* padding-top: 16px; */
  background-color: var(--light-bcg-color);
}

.li:hover {
  filter: brightness(80%);
}

.h3 {
  margin-top: 0;
  margin-bottom: 22px;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;

  text-align: center;
}

.img {
  margin: 0 auto;
}
